streamlit>=1.28.0
pandas
numpy
geopandas
folium
shapely
fast_tsp
scikit-learn
langchain_google_genai
langchain_core
langgraph
folium
matplotlib
mapclassify
python-dotenv
streamlit_folium